.tile {
  background-color: #ccc;
  border: 1px solid #999;
  position: relative;
  z-index: 1;
}

.free {
  background-color: #fff;
  z-index: 1;
}

.wall {
  background-color: #0c0c0c;
  z-index: 10;
}

#mapContainer {
  margin: 20px auto;
}

.character {
  width: 32px;
  height: 32px;
  background-image: url("assets/images/bomberman.png"); 
  background-repeat: no-repeat;
  background-size: 224px 160px; 
  position: absolute;
  z-index: 100; 
  
  /* 
  border: 1px solid red; 
  background-color: yellow; */
}


.down  { background-position:  0px    0px; }

.up    { background-position:  0px  -32px; }

.left  { background-position:  0px  -64px; }

.right { background-position:  0px  -96px; }
